html, body {

	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 6000px;
	font-family: 'Merriweather', serif;
}

#cloud1, #cloud2, #cloud3, #cloud4, #cloud5, #cloud6, #cloud7 {
  position: absolute;
  z-index: 100;
}

#cloud1{
	margin-left: 70vw;
	margin-top: 350px;
}

#cloud2{
	margin-left: 60vw;
	margin-top: 600px;
}

#cloud3{
	margin-left: 2vw;
	margin-top: 1400px;
}

#cloud4{
	margin-left: 60vw;
	margin-top: 2800px;
}

#cloud5{
	margin-left: 70vw;
	margin-top: 1100px;
}

#cloud6{
	margin-left: 5vw;
	margin-top: 3500px;
}

#cloud7{
	margin-left: 40vw;
	margin-top: 4000px;
}


#cloudboy{
    position: relative;
    width: 500px;
    animation-name: pollepolle;
    animation-duration: 4s;
    z-index: 10;
    
}

#boy {
    width: 500px;
    height: auto;
    position: absolute;
	top: -200px;
}



@keyframes pollepolle {
   from {
        top: 700px;
    }
    to {
			top: 0;
		}
}

#thoughtbubble {
	margin-left: 500px;
}

.thoughtbubbleheader {
	margin-left: 200px;
	margin-top: -340px;
	text-align: center;
    line-height: 45px;
    font-size: 30px;
}

#videocloud {
	margin-top: 1300px;
	margin-left: 50vw;
	position: absolute;
}

#video {
	position: absolute;
	margin-top: 1350px;
	margin-left: 57.8vw;
}

* {box-sizing:border-box}


#slidecloud {
	margin-top: 3100px;
	margin-left: 47vw;
	position: absolute;
}



.gallery {
    max-width: 600px;
    position: absolute;
    left: 55vw;
    top: 180vw;
    z-index: 100;
    opacity: 0.8;
    
}

/* Hide the images by default */
.slides {
  display: none;
}




/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 190vw;
  left: 50.3vw;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
   border-radius: 3px 0 0 3px;
  user-select: none;
    z-index: 100;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 190vw;
  margin-right: 7.8vw;
  width: 50px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 100;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
  border-radius: 0 3px 3px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: dimgrey;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  z-index: 100;
  color: grey;
  font-size: 26px;
  padding: 8px 12px;
  position: absolute;
  top: 3900px;
  right: 26vw;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#fagcloud {
	position:absolute;
    margin-top: 2300px;
	margin-right: 800px;
	margin-left: 200px;
}

#fagikoner {
	position:absolute;
   margin-top: 2420px;
	margin-left: 335px;
    margin-right: 1050px;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 34px;
}

#vaerdier {
	position:absolute;
    margin-top: 4000px;
	margin-left: 100px;
}

#vaerdiertekst {
	position:absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
   margin-top: 4190px;
	margin-left: 190px;
    margin-right: 1000px;
    line-height: 34px;
}

#skolen {
	position:absolute;
    margin-top: 4770px;
	margin-left: 800px;
}

#skolentekst {
	position:absolute;
       display: flex;
    align-items: center;
    flex-direction: column;
   margin-top: 4955px;
	margin-left: 860px;
    margin-right: 50px;
    line-height: 34px;
}

